
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$primary-color: #4285F4;
$success-color : #3ECF8E;
$warning-color : #FFDB5C;
$error-color : #F56C6C;
$info-color : #87BBFD;
// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}